* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

.title {
    text-align: center;
}

.list {
    width: 300px;
    margin: auto;
    list-style-type: none;
    font-weight: bold;
}

.description {
    text-indent: 1em;
    width: 550px;
}

.steps {
    width: 600px;
}